.card {
  padding: 1rem;
}

.bold {
  font-weight: bold;
}

.description {
  word-break: break-all;
  margin: 1rem 0;
}

.quantity {
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  gap: 0.5rem;
}
