html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.centralize {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 900px;
}

.centralized-title {
  text-align: center;
}

.actions-button {
  display: flex;
  justify-content: end;
  padding: 1rem 0;
}
